doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Cortito y al Pie
  link(rel="stylesheet", href="fonts/fonts.css")
  link(rel='stylesheet' href='css/styles.css')
  link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
  link(rel='manifest' href='favicon/site.webmanifest')
  link(rel='mask-icon' href='favicon/safari-pinned-tab.svg' color='#5bbad5')
  link(rel='shortcut icon' href='favicon/favicon.ico')
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='msapplication-config' content='favicon/browserconfig.xml')
  meta(name='theme-color' content='#ffffff')
  body
    header.top-navbar
      a(href='/')
        img.main-logo(src='assets/logo.png' alt='Logo de Cortito y al Pie')
      .nav-content
        nav.top-nav-links
          a(href='/planes') Planes
          a(href='#') Contacto
          a(href='#') Sobre nosotros
        .signin-links
          a#login-btn(href='#') Iniciar sesi&oacute;n
          a#signup-btn(href='#') Registrarse
    block content
